#-------------------------------------------------------------------------------------------
# Copyright (c) 2026-present, SkillerRaptor
#
# SPDX-License-Identifier: MIT
#-------------------------------------------------------------------------------------------

#-------------------------------------------------------------------------------------------
# Editor files
#-------------------------------------------------------------------------------------------
/.cache/
/.vs/
/.idea/
/.vscode/

#-------------------------------------------------------------------------------------------
# Rust
#-------------------------------------------------------------------------------------------
/target/
**/*.pdb
**/*.rs.bk
